[submodule "SDK"]
	path = SDK
	url = https://github.com/sonocotta/nRF24LE1-SDK
[submodule "Examples"]
	path = Examples
	url = https://github.com/sonocotta/nRF24LE1-Example
[submodule "Programmer"]
	path = Programmer
	url = https://github.com/sonocotta/nRF24LE1-Programmer
